In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\samarthmanu\\Desktop\\python programs\\machine learning udemy'

In [13]:
pd.read_csv("example.csv")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
#to write to a csv file
df=pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [25]:
df.to_csv("My_Output",index=False)

In [26]:
pd.read_csv('My_Output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [30]:
df.to_csv("My_Output",index=True)
pd.read_csv("My_Output")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [31]:
#reading excel file

In [36]:
pd.read_excel('sampleexcel.xlsx',sheetname='Sheet1')

c:\users\samarthmanu\appdata\local\programs\python\python36-32\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [46]:
df=pd.read_excel("sampleexcel.xlsx",sheet_name='Newsheet')
df.to_excel("excel_sample.xlsx",sheet_name="Newsheet")